.fullheight {
  height: calc(100vh - 71px) !important;
  display: flex;
  flex-direction: column;
}
.MuiTypography-body1 {
  font-weight: 500 !important;
}
.MuiPaper-rounded {
  border-radius: 8px !important;
}
